.nav-pills .nav-link {
	background-color: white !important; /* Default white background */
	color: black !important; /* Default black text */
	border: 1px solid black; /* Add border for better visibility */
}

.nav-pills .nav-link.active {
	background-color: black !important; /* Black background when active */
	color: white !important; /* White text when active */
}

.eventsMainDiv {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}
.eventSummary {
	border-radius: 10px;
	width: 100%;
}
.eventSummaryContainer {
	display: flex;
	height: 100%;
	background-color: #222222;
	align-items: center;
	gap: 2rem;
	border-radius: 20px;
}

.eventSummaryContainerImageContainer {
	width: 80%;
}
.eventSummaryContainerImage {
	width: 100%;
	height: auto;
	max-width: 100%;
	object-fit: contain;
	box-shadow: 0px 25px 50px rgba(69, 65, 47, 0.5);
	border-radius: 10px;
}

.eventSummaryDetail {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 1rem;
}

.eventSummaryDetailGroup {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 0.1rem;
}
.eventSummaryDetailGroup span {
	color: #bbbbbb;
	text-transform: uppercase;
}
.eventSummaryDetailGroup strong {
	font-weight: bold;
	color: #dddddd;
	line-height: 1.2rem;
}

@media (max-width: 1080px) {
	.eventSummaryContainer {
		flex-direction: column;
	}
	.eventSummaryContainerImageContainer {
		width: 100%;
	}
	.eventSummaryContainerImage {
		width: 100%;
		height: auto;
		max-width: 100%;
		object-fit: cover;
	}

	.eventSummaryDetail {
		display: flex;
		width: 90%;
		flex-direction: row;
		padding-bottom: 1rem;
		justify-content: space-between;
	}

	.eventSummaryDetailGroup {
		display: flex;
		align-items: start;
		justify-content: center;
		gap: 0.1rem;
	}
}
.dialogContent {
	width: 80%;
	margin: auto;
}
@media (max-width: 720px) {
	.eventsMainDiv {
		width: 90%;
	}
	.eventSummaryContainerImage {
		width: 100%;
		height: auto;
		max-width: 100%;
		object-fit: cover;
	}

	.eventSummaryDetail {
		display: flex;
		flex-direction: column;
		width: 80%;
		gap: 0.2rem;
	}

	.eventSummaryDetailGroup {
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
	.eventSummaryDetailGroup span {
		width: 50%;
	}
	.eventSummaryDetailGroup strong {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.card-body p {
		font-size: 14px;
		margin-bottom: 4px;
	}
	.card-title {
		font-size: 16px;
	}
}
.nav-pills .nav-link {
	background-color: #343a40;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 8px 15px;
}

.nav-pills .nav-link.active {
	background-color: #007bff;
	color: #ffffff;
}

.match-list-container {
	background-color: #f7f9fc;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.leaderboard-container {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: 250px;
	height: auto;
}

.match-table-container {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: calc(100% - 270px);
}

table th {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: #343a40;
	color: white;
}

table td {
	font-size: 16px;
	font-weight: 500;
}

.badge-info {
	background-color: #17a2b8;
}

.text-uppercase {
	text-transform: uppercase;
}

.font-weight-bold {
	font-weight: bold;
}

.match-table-container .table {
	margin-top: 20px;
}

/* Flexbox for better alignment */
.d-flex {
	display: flex;
	justify-content: space-between;
}

/* Responsive adjustment */
@media (max-width: 768px) {
	.d-flex {
		flex-direction: column;
		align-items: stretch;
	}

	.leaderboard-container {
		width: 100%;
		margin-bottom: 20px;
	}

	.match-table-container {
		width: 100%;
	}

	.match-columns {
		display: flex;
		justify-content: space-between;
	}
}
