{% extends "base.html" %} {%load static%}{% block content %}

<div class="eventsMainDiv">
	<div class="eventSummary">
		{% for event in event %}

		<div class="eventSummaryContainer">
			<div class="eventSummaryContainerImageContainer">
				<img class="eventSummaryContainerImage" src="{{event.image.url}}" />
			</div>

			<div class="eventSummaryDetail">
				<div class="eventSummaryDetailGroup">
					<span>Event Name</span>
					<strong>{{event.title}}</strong>
				</div>

				<div class="eventSummaryDetailGroup">
					<span>Venue</span>
					<strong>{{event.location}}</strong>
				</div>

				<div class="eventSummaryDetailGroup">
					<span>Location</span>
					<strong>{{event.city}}</strong>
				</div>

				<div class="eventSummaryDetailGroup">
					<span>Event Date</span>
					<strong>{{event.date}}</strong>
				</div>

				<div class="eventSummaryDetailGroup">
					<span>Cost</span>
					<strong>${{event.registration_fee}}</strong>
				</div>

				{% if event.is_event == True %}
				<button
					id="registerBtn"
					type="button"
					style="
						padding: 10px 20px;
						font-size: 1rem;
						background-color: #3498db;
						color: white;
						border: none;
						border-radius: 5px;
						cursor: pointer;
					"
				>
					<a href="{{ event.url }}" style="color: white" target="_blank">Get Tickets</a>
				</button>

				{% endif %} {% if event.is_tour == True %}
				<button
					id="openDialogButton"
					data-toggle="modal"
					data-target="#exampleModal"
					style="
						padding: 10px 20px;
						font-size: 1rem;
						background-color: #3498db;
						color: white;
						border: none;
						border-radius: 5px;
						cursor: pointer;
					"
				>
					Register
				</button>

				{% endif %}

				<div
					class="modal fade"
					id="exampleModal"
					tabindex="-1"
					role="dialog"
					aria-labelledby="exampleModalLabel"
					aria-hidden="true"
				>
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Register Percipient</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form action="/events/fight-card/{{event.id}}" method="post">
								{% csrf_token %} <input hidden name="event" value="{{event.id}}" required />
								<div class="dialogContent">
									<div class="container">
										<div class="row mt-1 mt-1">
											<label for="first_name" class="form-label col-sm">First Name</label>
											<input
												type="text"
												class="form-control col-sm"
												id="first_name"
												placeholder="First Name"
												name="first_name"
												required
											/>
										</div>
										<div class="row mt-1">
											<label for="last_name" class="form-label col-sm">Last Name</label>
											<input
												type="text"
												class="form-control col-sm"
												id="last_name"
												placeholder="Last Name"
												name="last_name"
												required
											/>
										</div>

										<div class="row mt-1">
											<label for="gender-select" class="form-label col-sm">Gender</label>

											<select name="gender" id="gender-select" class="custom-select col-sm">
												<option selected>Please choose an option</option>
												<option value="Male">Male</option>
												<option value="Female">Female</option>
											</select>
										</div>
										<div class="row mt-1">
											<label for="date_of_birth" class="col-sm">Date Of Birth</label>
											<input
												type="date"
												class="form-control col-sm"
												id="date_of_birth"
												placeholder="Date Of Birth"
												name="date_of_birth"
												required
											/>
										</div>

										<div class="row mt-1">
											<label for="weight" class="col-sm">Fight Weight (in Lbs)</label>
											<input
												type="number"
												class="form-control col-sm"
												id="weight"
												placeholder="Fight Weight (in Lbs)"
												name="weight"
												required
											/>
										</div>
										<div class="row mt-1">
											<label for="school_name" class="form-label col-sm">School Name</label>
											<input
												type="text"
												class="form-control col-sm"
												id="school_name"
												placeholder="School Name"
												name="school_name"
												required
											/>
										</div>
										<div class="row mt-1">
											<label for="email_value" class="form-label col-sm">Email</label>

											<input
												type="email"
												class="form-control col-sm"
												id="email_value"
												placeholder="Email"
												name="email"
												required
											/>
										</div>

										<div class="row mt-1">
											<label for="experience" class="form-label col-sm">Years of Training</label>

											<input
												type="number"
												class="form-control col-sm"
												id="experience"
												placeholder="Years of Training"
												name="years_of_training"
												required
											/>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button id="card-button" type="submit" class="btn btn-primary">Register</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ul class="nav nav-pills" id="event_tabs" role="tablist">
		<li class="nav-item">
			<a
				class="nav-link active rounded-0"
				id="rules-tab"
				data-toggle="pill"
				href="#rules"
				role="tab"
				aria-controls="rules"
				aria-selected="true"
			>
				Rules + Extra Detail
			</a>
		</li>
		<li class="nav-item">
			<a
				class="nav-link rounded-0"
				id="participants-tab"
				data-toggle="pill"
				href="#participants"
				role="tab"
				aria-controls="participants"
				aria-selected="false"
			>
				Participants
			</a>
		</li>

		<li class="nav-item">
			<a
				class="nav-link rounded-0"
				id="matchList-tab"
				data-toggle="pill"
				href="#matchList"
				role="tab"
				aria-controls="matchList"
				aria-selected="false"
				data-event-id="{{ event.id }}"
				data-url="{% url 'match_list' 0 %}"
			>
				Match List
			</a>
		</li>
	</ul>

	{% for error in errors%}
	<div>{{error}}</div>
	{% endfor %} {% endfor %}

	<div class="tab-content py-0" id="event_tabs_content">
		<div id="rules" role="tabpanel" class="tab-pane fade show active" aria-labelledby="rules-tab">
			{% for e in event %} {{ e.rules|safe }} {% endfor %}
		</div>

		<div id="participants" role="tabpanel" class="tab-pane fade" aria-labelledby="participants-tab">
			{% if user.is_authenticated %} {% for event in event %}
			<form class="p-2" method="post" action="{% url 'exportEventParticipants'   event.id   %}">
				{% csrf_token %}

				<button type="submit" class="btn btn-warning">Export</button>
			</form>
			{% endfor %} {% endif%}
			<table class="table table-sm">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">First name</th>
						<th scope="col">Last name</th>
						<th scope="col">Gym</th>
						<th scope="col">Weight (lbs)</th>
						<th scope="col">Division</th>

						{% if user.is_superuser %}
						<th>Paid</th>
						<th>Delete</th>
						
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for p in participants %}
					<tr>
						<th scope="row">{{forloop.counter}}</th>
						<td>{{p.first_name}}</td>
						<td>{{p.last_name}}</td>
						<td>{{p.school_name}}</td>
						<td>{{p.weight}}lbs</td>


						<td>{% if user.is_superuser %} 
							<form method="post" action="{% url 'update_participant_division' %}" class='d-flex'>
								{% csrf_token %}
								<input type="hidden" name="event_id" value="{{ p.event.id }}">
							  	<input type="hidden" name="participant_id" value="{{ p.id }}">
							  	<select name="division" class="form-control form-control-sm">
								<option value="">Select Division</option>
								{% for division in divisions %}
								<option value="{{ division.id }}" {% if p.division and p.division.id == division.id %} selected {% endif %}>
								  {{ division.name }}
								</option>
								{% endfor %}
							  </select>
							  <button type="submit" class="btn btn-sm btn-primary">Save</button>
							</form>

							{%else%}
							{{p.division}}
							{%endif%}
						  </td>

						{% if user.is_superuser %}
						<td>		{% if not p.payment_id %}
							<button
								class="paidDialogBtn"
								data-toggle="modal"
								data-target="#paidDialogModel"
								data-id="{{ p.id }}"
								data-event-id="{{ p.event.id }}"
								data-first-name="{{ p.first_name }}"
								data-last-name="{{ p.last_name }}"
								data-school-name="{{ p.school_name }}"
								data-weight="{{ p.weight }}"
								style="
									padding: 5px 10px;
									font-size: 1rem;
									background-color: orange;
									color: white;
									border: none;
									border-radius: 5px;
									cursor: pointer;
								"
							>
								Paid
							</button>
							{% else %}

							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								fill="green"
								class="bi bi-check"
								viewBox="0 0 16 16"
							>
								<path
									d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"
								/>
							</svg>
							{%endif%}
						</td>

						<td>
					
							<button
							class="deleteDialogBtn"
							data-toggle="modal"
							data-target="#deleteDialogModel"
							data-id="{{ p.id }}"
							data-event-id="{{ p.event.id }}"
							data-first-name="{{ p.first_name }}"
							data-last-name="{{ p.last_name }}"
							data-school-name="{{ p.school_name }}"
							data-weight="{{ p.weight }}"
							style="
								padding: 5px 10px;
								font-size: 1rem;
								background-color: red;
								color: white;
								border: none;
								border-radius: 5px;
								cursor: pointer;
							"
						>
							Delete
						</button>

						</td>

						{% endif %}

						<div
							class="modal fade"
							id="deleteDialogModel"
							tabindex="-1"
							role="dialog"
							aria-labelledby="deleteDialogModelLabel"
							aria-hidden="true"
						>
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="deleteDialogModelLabel">Delete Percipient</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form id="deleteForm" method="post">
										{% csrf_token %}
										<input type="hidden" name="event_id" id="modalEventId" />
										<div class="modal-body">
											<p>You're deleting the following Percipient:</p>
											<p id="modalFirstName"></p>
											<p id="modalLastName"></p>
											<p id="modalSchoolName"></p>
											<p id="modalWeight"></p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Delete</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div
							class="modal fade"
							id="paidDialogModel"
							tabindex="-1"
							role="dialog"
							aria-labelledby="paidDialogModelLabel"
							aria-hidden="true"
						>
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="paidDialogModelLabel">Paid Percipient</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form id="paidForm" method="post">
										{% csrf_token %}
										<input type="hidden" name="event_id" id="paidModalEventId" />
										<div class="modal-body">
											<p>You're Registering this participant as a Paid Participants:</p>
											<div class="">
												<p id="paidFirstName"></p>
												<p id="paidLastName"></p>
												<p id="paidSchoolName"></p>
												<p id="paidWeight"></p>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-success">Paid</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div id="matchList" role="tabpanel" class="tab-pane fade" aria-labelledby="matchList-tab">
			<div id="matchListContainer">
				<span> If you cant see anything under this, click into another tab and click back into this tab</span>
			</div>
		</div>
	</div>
</div>

{% endblock %}
