{% extends "base.html" %} {%load static%}{% block content %}
<div class="coachesMainDiv">
	<div class="coachesLandingPage">
		<div class="coachesContainer">
			<h3>Coaches</h3>
		</div>
	</div>

	<div class="coachesDetail">
		<div class="coachesContainerTitle">
			<h4>Meet Our Coaches</h4>
		</div>
	</div>
	<div class='coachTabs'>
		<a href="?filter=Head Coach"><button {% if filter_type == 'Head Coach' %}class="activeTab"{% endif %}>Head Coaches</button></a>
		<a href="?filter=Boxing"><button {% if filter_type == 'Boxing' %}class="activeTab"{% endif %}>Boxing</button></a>
        <a href="?filter=Muay Thai"><button {% if filter_type == 'Muay Thai' %}class="activeTab"{% endif %}>Muay Thai</button></a>
		<a href="?filter=Grappling"><button {% if filter_type == 'Grappling' %}class="activeTab"{% endif %}>Grappling</button></a>
		
	</div>

	<div class="coachesListContainer" id="coaches-container">
		{% for coach in coaches %}

		<div class="coachesSpecificInfo">
			<div
				class="coachesImage"
				id="coachesImage{{ forloop.counter }}"
				data-original-url="{{ coach.image.url }}"
				style="background-image: url('{{ coach.image.url }}'); background-size: cover; background-position: center;"
			></div>

			<div class="coachesInfo">
				<h4>{{ coach.name }} </h4>
				<h5>{{coach.disciple}} </h5>
				<p>{{ coach.bio  |safe}}</p>
				<p>{{ coach.stats }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
