{% extends "base.html" %} {% block content %}

<div class="landing-page">
	<div class="landingPageBackgroundPhoto">
		<div class="landingPageMainQuote">
			<div class="callToActionContainer">
				<h3>Unleash Your <br />Power</h3>
				<div class="membershipBtnContainer">
					<a
						href="https://wolfhouse-30.maonrails.com/login"
						target="_blank"
					>
						<button type="button" class="member-btn">
							Member Login
						</button></a
					>
				</div>
			</div>
		</div>

		<div class="backgroundPhotoCover"></div>
	</div>
</div>

<div class="verticalBarContainer">
	<div class="verticalBar"></div>
</div>

<div class="secondCTAContainer">
	<h3>Fitness For Everyone</h3>
	<p>
		At Wolfhouse, fitness is for everyone, from beginners
		to experts. Our gym offers state-of-the-art equipment,
		diverse classes, and supportive trainers. Join us to
		unleash your potential and achieve your fitness goals.
	</p>

	{% comment %}
	<div class="moreInfoBtnContainer">
		<button type="button" href="#">Learn More</button>
	</div>
	{% endcomment %}
</div>

<div class="trainingContainer">
	<h3>Training</h3>
	{% for training in trainings %}
	<div
		id="specificTrainingContainer{{ forloop.counter }}"
		class="specificTrainingContainer"
		data-original-url="{{ training.image.url }}"
		data-cropped-url="{{ training.croppedImage.url }}"
	>
		{% comment %} style="background-image: url('{{
		training.image.url }}');" {% endcomment %}
		<div class="specificTrainingContainerCover">
			<div class="sectionTitle">
				<h4>{{ training.title}}</h4>
			</div>
		</div>
	</div>

	{% endfor %}
</div>
<div class="starDivider">
	{% load static %}
	<img
		src="{% static 'Icons\star (3).png' %}"
		height="60"
		width="60"
	/>
</div>

<div class="membershipContainer">
	<h3>Memberships</h3>

	<div class="MembershipGroupContainer">
		{% for membership in memberships %}

		<div
			class="specificMembershipContainer"
			onclick="displayMembershipInfoFromDiv(this)"
		>
			<div class="specificMembershipSectionTitle">
				<h4>{{ membership.title}}</h4>
				<h5 id="specificMembershipSectionPlusMinus">
					+
				</h5>
			</div>

			<div class="membershipAdditionalInfo">
				<div class="membershipAdditionalInfoCosting">
					<p>
						<strong>
							${{ membership.monthly }}
						</strong>
						/mo
					</p>
				</div>
				<div class="membershipAdditionalInfoCosting">
					<p>
						or
						<strong>${{ membership.yearly }}</strong
						>/yr
					</p>
					<span>Price includes Tax</span>
				</div>

				<div class="membershipAdditionalInfoExtraInfo">
					<span
						>{{ membership.extraDetail|safe }}</span
					>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
